
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>AML-Login</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('.static',filename='bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='dashboard/css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">




</head>

<body>
{% block content %}
  <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-flex-start">
                        <img src="{{url_for('static', filename='images/Neptune.png')}}" width="190" height="80"/>

                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="{{url_for('static', filename='images/Rubikon.png')}}"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3 mb-4">
                        <div class="line"></div>

                        <div class="line"></div>
                    </div>
					<form method="POST" action="/">
                        {{ form.hidden_tag() }}
                    <div class="row px-3">
<!--                        <label class="mb-1"><h6 class="mb-0 text-sm">Username</h6></label>-->
                        {{form.email.label(class="mb-1")}}
                        {{form.email (class="mb-4",placeholder="Please enter your email")}}
<!--                        <input class="mb-4" type="text" name="username" placeholder="Enter a valid username" required>-->
                    </div>
                    <div class="row px-3">
<!--                        <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>-->
<!--                        <input type="password" name="password" placeholder="Enter password">-->
                        {{form.password.label(class="mb-1")}}
                        {{form.password (class="mb-4",placeholder="Please enter your password")}}
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input id="chk1" type="checkbox" name="chk" class="custom-control-input">
                            <label for="chk1" class="custom-control-label text-sm">Remember me</label>
                        </div>
                        <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                    </div>
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center">Login</button>
                    </div>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">{{ msg }}<a class="text-danger "></a></small>
                    </div>
					</form>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Neptune Software Group.</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>

</html>
