.wrapper{
            display:flex;
            height:100%;
            width:90%;
			position:relative;

        }

.missingdata {
			width:100%;
			height:100%;
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content-space-evenly;
	}

.label_style {
	font-size:15px;
}

.input {
	  width: 300px;
	  height: 44px;
	  background-color: #05060f0a;
	  border-radius: .5rem;
	  padding: 0 1rem;
	  border: 2px solid transparent;
	  font-size: 1rem;
	  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
	}
.input:hover, .input:focus, .input-group:hover .input {
	  outline: none;
	  border-color: #05060f;
	}

.input-group:hover .label, .input:focus {
	  color: #05060fc2;
	}
.button-groups {
	display:flex;
}
.form-elements{
	height:500px;
	flex-basis:49%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-evenly;
	margin-top:20px;


}
.table-info {
	display:flex;
	flex-basis:49%;
	height:400px;
	flex-direction:column;
	justify-content:center;
	padding-right:10px;
}
.line {
	height:50%;
	flex-basis:2%;
	margin-top:60px;
	border-left: 1px solid #212529;
}


